#### Data Types

In [1]:
#Data types are a classification of data that tells the compiler or interpreter how the programmer intends to use the data.
#They determine the type of operation that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

#Different data types, such as integer and floating point, require different amounts of memory. 
#For example, you may have int (8 bit), float (16 bits), and so on. Each data type stores information in a specific way.

##### Integer Data Type Example

In [2]:
age = 35
type(age)

int

##### Floating Point Data Type Example

In [3]:
height = 5.9
print(height)
type(height)

5.9

float

##### String Data Type Example

In [4]:
name = "Rais"
print(name)
print(type(name))

Rais
<class 'str'>

##### Boolean Data Type Example

In [5]:
is_true = True
type(is_true)

bool

In [6]:
a = 10
b = 10
a == b
type(a == b)

bool

##### Common Errors with Data Types

In [7]:
result = "hello"
result = result + 5

TypeError: can only concatenate str (not "int") to str

In [8]:
result = "hello" + str(5)
print(result)

hello5