#### Arithmatic operators

In [1]:
a = 10
b = 15
result = a + b
print(result)

25

In [2]:
subtraction_result = a - b
multiplication_result = a * b
division_result = a / b
floor_division_result = a // b
modulus_result = a % b
exponential_result = a ** b

In [3]:
print("Addition:", result)
print("Subtraction:", subtraction_result)
print("Multiplication:", multiplication_result)
print("Division:", division_result)
print("Floor Division:", floor_division_result)
print("Modulus:", modulus_result)
print("Exponentiation:", exponential_result)

Addition: 25
Subtraction: -5
Multiplication: 150
Division: 0.6666666666666666
Floor Division: 0
Modulus: 10
Exponentiation: 1000000000000000

#### Comparison Operators

In [4]:
a = 10
b = 10
result = (a == b)
print(result)

True

In [5]:
str1 = "AR"
str2 = "AR"
print(str1 == str2)

str2 = "AR"
print(str1 == str2)

True
True

In [6]:
print(str1 != str2)

False

#### Greater Than and Less Than Operators

In [7]:
num1 = 45
num2 = 55
print(num1 > num2)
print(num1 < num2)

False
True

#### Greater Than or Equal To and Less Than or Equal To Operators

In [8]:
num1 = 45
num2 = 45
print(num1 >= num2)
print(num1 <= num2)

True
True

#### Logical Operators

##### AND

In [9]:
x = True
y = True
result = x and y
print(result)

True

In [10]:
y = False
result = x and y
print(result)

False

##### OR

In [12]:
x = True
y = False
result = x or y
print(result)

True

In [13]:
x = False
y = False
result = x or y
print(result)

False

##### NOT

In [15]:
x = True
print(not x)

x = False
print(not x)

False
True

#### BASIC CALCULATOR

In [16]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)
print("Multiplication:", num1 * num2)
print("Division:", num1 / num2)
print("Modulus:", num1 % num2)
print("Exponentiation:", num1 ** num2)

Enter first number:  99
Enter second number:  33

Addition: 132.0
Subtraction: 66.0
Multiplication: 3267.0
Division: 3.0
Modulus: 0.0
Exponentiation: 7.177305325982751e+65