#### Declaring and Assigning Variables

In [1]:
## You can assign different types of values to variables, such as strings, integers, floating point numbers, and booleans.

In [2]:
age = 19
height = 5.9
name = "Abdul Rehman"
is_student = True

In [3]:
print("age:", age)
print("height:", height)
print("name:", name)
print("is_student:", is_student)

age: 19
height: 5.9
name: Abdul Rehman
is_student: True

#### Naming Conventions for Variables

In [5]:
## Variable names should be descriptive. They must always start with a letter or an underscore.
##Variable names can contain letters, numbers, and underscores, but must not start with a number. 
##Variable names are case sensitive.

##### valid declaration

In [6]:
first_name = "Muhammad"
last_name = "Khan"

##### invalid declaration

In [8]:
1age = 19  # Invalid: starts with a number
first-name = "Muhammad"  # Invalid: dash is not allowed
@name = "Muhammad"  # Invalid: special character not allowed

SyntaxError: invalid decimal literal (3157355122.py, line 1)

#### Case Sensitivity

In [9]:
name = "A.Rehman"
Name = "Rais"
print(name == Name)  # Output: False

False

#### Understanding Variable Types

In [10]:
age = 19  # int
height = 5.9  # float
name = "AR"  # str
is_student = True  # bool

In [11]:
print(type(age))  
print(type(name))

<class 'int'>
<class 'str'>

#### Type casting

In [13]:
# You can also convert a string containing a number to an integer.(type-casting)
age = "19"
print(type(age))  # str
age_int = int(age)
print(type(age_int))  # int

<class 'str'>
<class 'int'>

In [14]:
# If you try to convert a non-numeric string to an integer, you will get an error.
name = "AR"
int(name)  # This will raise a ValueError

ValueError: invalid literal for int() with base 10: 'AR'

#### Dynamic Typing in Python

In [16]:
var = 10
print(var, type(var)) 
var = "Hello"
print(var, type(var))  
var = 3.14
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

#### User Input in Python

In [20]:
age = input("What is your age? ")
print(age)
print(type(age))  # str

# To convert the input to integer
typed_age = int(input("What is your age? "))
print(type(typed_age))  # int

What is your age?  19

19
<class 'str'>

What is your age?  19

<class 'int'>

#### Simple Calculator Example

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
sum_ = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2
print("Sum:", sum_)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)